<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
          rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="css/error.css" rel="stylesheet">
  <link href="js/error.js" rel="script"></link>
  <title>Algo deu errado</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a href="/exibirContato">Cadastrar Contatos</a></li>
      <li><a href="/listarContatos">Listar Contatos</a></li>
      <li><a href="/addgrupo">Cadastrar Grupo</a></li>
      <li><a href="/grupos">Gerenciar Grupos</a></li>
    </ul>
  </nav>
<h1>Ops, Algo deu errado =[ </h1>
<div class="container">
  <h1 class="first-four"></h1>
  <div class="cog-wheel1">
    <div class="cog1">
      <div class="top"></div>
      <div class="down"></div>
      <div class="left-top"></div>
      <div class="left-down"></div>
      <div class="right-top"></div>
      <div class="right-down"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>

  <div class="cog-wheel2">
    <div class="cog2">
      <div class="top"></div>
      <div class="down"></div>
      <div class="left-top"></div>
      <div class="left-down"></div>
      <div class="right-top"></div>
      <div class="right-down"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>
  <h1 class="second-four"></h1>

  <p class="wrong-para" th:text="${erro}"></p>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
